<div class="mtheme-footer">
  <ul>
    <li>
      <a href="{{@blog.url}}/rss/">Subscribe</a>
    </li>
    <li>
      <a href="//twitter.com/username">Twitter</a>   
    </li>
    <li>
      <a href="/">{{@blog.title}}</a>      
    </li>
  </ul>
</div>