<nav class="site-nav" tabindex="-1">
  <button class="site-nav-logo distraction-free-component" data-action="open-nav">
    <span class="icons icons-logo">
      <p></p>
    </span>
  </button>
</nav>